@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
main{
  text-align: center;
  border-radius: 15%;
}


body{
    background-color: green;
    font-family: 'Oswald', sans-serif;

}

fieldset {
    margin: 5%;
    border: 2px white solid;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    align-content: center;
   }
   
   legend {
     background-color: rgb(255, 255, 255);
     color: rgb(226, 147, 43);
     font-size: 30px;
     padding: 10px;
     position: absolute; /* reposiciona a tag em relação ao body OU ao ancestral posicionado mais próximo */
     top: -30px;
   }
   
 
   
   button {
     padding: 10px;
     margin: 10px;
     background-color: rgb(226, 147, 43);
     color: white;
     font-size: 20px;
     border: 0;
     border-radius: 30px;
   }
   
   #buttons {
     text-align: center;
   } 

